.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header_links-list {
  display: flex;
  gap: 32px;
}

.header_links-list-item {
  list-style: circle;
  font-size: 18px;
}

.first-line-list {
  list-style: none;
}

.text-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.first-line-style {
  border-bottom: none;
}

.logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 238px;
  font-size: 18px;
  line-height: 1.35;
  font-style: normal;
}

.header_address {
  justify-self: end;
}

.address_link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  padding: 165px 50px 50px 50px;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
}

.align-text {
  display: block;
}

.align-text_center {
  line-height: 1;
  text-align: center;
  padding-left: 30px;
  padding-top: 10px;
}

.align-text_right {
  line-height: 1;
  text-align: right;
  padding-top: 12px;
  
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  padding: 115px 0 0 0;
}

.cover_description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 152px 24px;
}

.lots_heading {
  padding: 32px 0 0 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots_card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
}

.lost_card-list-item {
  flex-grow: 1;
  width: 430px;
  margin: 28px 0px 10px 0px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 334px;
  height: 596px;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card_text {
  z-index: 1;
  font-size: 20px;
}

.lots_look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-top: 20px;
}

.about {
  display: grid;
  grid-template-columns: 383px 688px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about_logo-image {
  margin: 65.25px 45px 58px 48px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24.4px;
  font-size: 20px;
}

.about_title {
  margin: 103px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.footer {
  display: grid;
  padding: 185px 50px 90px;
  grid-template-columns: 2fr 1fr 2fr;
}

.footer_menu {
  margin: 0 auto;
}

.footer_address {
  justify-self: left;
}

.footer_social-icon {
  object-fit: contain;
  object-position: top;
}

.footer_menu-link {
  font-size: 18px;
  line-height: normal;
  color: #000;
}

.footer_social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer_social-list-item {
  list-style: none;
  width: 48px;
  height: 48px;
}

.footer_social-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.footer_menu-list {
  text-align: center;
}

.footer_menu-list-item {
  list-style: none;
}

.footer_menu-link {
  color: black;
  line-height: normal;
  font-size: 18px;
}

.footer_menu-link_active {
  text-decoration: none;
}